/* @media only screen and (min-width: 768px) { */

body {
  /* background: url("../img/subway_intro.jpeg") no-repeat;
  background-size: 95%;
  background-color: black;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.5); */
}

/*  Nav (w/ logo) */
nav {
  height: 6vh;
  width: 100%;
  display: flex;
  position: fixed;
	z-index: 1000;
}

nav div {
  background: url('../img/MAIN_LOGO_ copy.png') no-repeat;
  background-size: contain;
  height: 7.25vh;
  width: 7.25vw;
  margin: auto;
}

nav div:hover {
  animation: jump .75s infinite;
}

/* Name, info, and animations */
#landing {
  width: 100vw;
  height: 100vh;
  background: url("../img/subway_intro.jpeg") no-repeat;
  background-size: 90%;
  background-position: center;
	background-color: rgba(255, 255, 255, 0.5);
  background-attachment: fixed;
}

.jump {
  -moz-animation: jump .65s infinite;
  -webkit-animation: jump .65s infinite;
  animation: jump 1.05s infinite;
  animation-delay: 2s;
}

.show {
  -moz-animation: show 1.25s infinite;
  -webkit-animation: show 1.25s infinite;
  animation: show .75s infinite;
  color: gold;
}

@keyframes jump {
  100% {
    transform: translateY(0);
  }
  /* 60% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(-9px);
  } */
  20% {
    transform: translateY(-10px);
  }
}

@keyframes show {
  100% {
    opacity: .7;
  }
  80% {
    opacity: .5;
  }
  60% {
    opacity: .3;
  }
  40% {
    opacity: .1;
  }
  20% {
    opacity: .01;
  }
}

#landing h1, #landing h2 {
  color: white;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  text-shadow: 6px 4px 14px rgba(1, 1, 1, 0.91);
  font-size: 30pt;
}

#landing h1 {
  padding-top: 140px;
}

#landing div {
  display: flex;
  flex-direction: column;
  margin-top: 6%;
}

#landing div h3 {
  font-family: 'Titillium Web', sans-serif;
  color: white;
  text-align: center;
  text-shadow: 6px 4px 14px rgba(1, 1, 1, 0.91);
  font-size: 4vh;
}

/* scroll below arrow */
#arrow {
  margin: auto;
  padding-top: 2vh;
}

/* About Me section */
#pic_wrapper {
  height: auto;
  width: 100%;
}

#profile_pic {
  border-radius: 50%;
  border: .2px solid;
  height: auto;
  width: 50%;
  box-shadow: 0px 0px 14px rgba(255, 255, 255, 0.91);
  margin-left: 15%;
  margin-bottom: 20px;
}

footer {
  height: 3vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.99);
  text-align: center;
  position: fixed;
  bottom: 0;
	border-bottom: .25px solid black;

}

#about {
	background-color: #FAFAFA;
   width: 97%;
}

.parent_div {
  display: flex;
}

.baby_div {
  align-self: center;
	flex: 1;
  text-align: center;
}

.content_headers{
  text-align: center;
  font-size: 30pt;
  color: white;
  padding-top: 90px;
  text-shadow: 6px 4px 14px rgba(1, 1, 1, 0.99);
}

.off_white_background {
  background-color: #F8F8F8;
}
.section_divider {
  height: 30vh;
  width: 100%;
}

/* skills section */
#skills {
  background: url("../img/skills.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: .9;
}

#projects {
  background: url("../img/projects.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: .9;
}

#contact {
  background: url("../img/contact.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: .9;
}
