/*/////////////
  Nav (w/ logo) 
 / ///////////*/

nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 10%;
}

nav div {
  background: url('../img/MAIN_LOGO_ copy.png') no-repeat center;
  background-size: contain;
  height: 95%;
  width: 90vw;
  margin: auto;
}

nav div:hover {
  animation: jump .75s infinite;
}


/* /////////////////////////////
LANDING-Name, info 
/////////////////////////////*/

#landing {
  width: 100vw;
  height: 100vh;
  background: url("../img/subway_intro.jpeg") no-repeat;
  background-size: 90%;
  background-position: 46% 15%;
  background-color: rgba(255, 255, 255, 0.5);
  background-attachment: fixed;
}

/*///////////
Animations
////////////*/

.jump {
  -moz-animation: jump .65s infinite;
  -webkit-animation: jump .65s infinite;
  animation: jump 1.05s infinite;
  animation-delay: 2s;
}

.show {
  -moz-animation: show 1.25s infinite;
  -webkit-animation: show 1.25s infinite;
  animation: show .75s infinite;
  color: gold;
}

.vibrate {
  -moz-animation: vibrate .65s infinite;
  -webkit-animation: vibrate .65s infinite;
  animation: vibrate 1.05s infinite;
  animation-delay: 1s;
}

@keyframes jump {
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
}

@keyframes show {
  100% {
    opacity: .7;
  }
  80% {
    opacity: .5;
  }
  60% {
    opacity: .3;
  }
  40% {
    opacity: .1;
  }
  20% {
    opacity: .01;
  }
}

@keyframes vibrate {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-2deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-2deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-2deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-2deg);
  }
}
/*////////////////////
LANDING-  Main headers
////////////////////*/

#landing h1, #landing h2 {
  color: white;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  text-shadow: 6px 4px 14px rgba(1, 1, 1, 0.91);
  font-size: 4vw;
}

#landing h1 {
  padding-top: 20vh;
}

/*//////////////////
LANDING-Details
/////////////////*/

#landing div {
  display: flex;
  flex-direction: column;
  margin-top: 6%;
}

#landing div h3 {
  font-family: 'Titillium Web', sans-serif;
  color: white;
  text-align: center;
  text-shadow: 6px 4px 14px rgba(1, 1, 1, 0.91);
  font-size: 4vh;
}


/*/////////////
"scroll" arrow 
/////////////*/

#arrow {
  margin: auto;
  /* padding-top: 2vh; */
  height: 8vh;
  width: 1--%;
}

/* About Me section */

#pic_wrapper {
  height: auto;
  width: 100%;
}

#profile_pic {
  border-radius: 50%;
  border: .2px solid;
  height: auto;
  width: 50%;
  box-shadow: 0px 0px 14px rgba(255, 255, 255, 0.91);
  margin-left: 15%;
  margin-bottom: 20px;
}

footer {
  height: 3vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.99);
  text-align: center;
  position: fixed;
  bottom: 0;
  border-bottom: .25px solid black;
}

#about {
  background-color: #FAFAFA;
  width: 97%;
}

.parent_div {
  display: flex;
}

.baby_div {
  align-self: center;
  flex: 1;
  text-align: center;
}

.content_headers {
  text-align: center;
  font-size: 30pt;
  color: black;
  padding-top: 90px;
  text-shadow: 6px 4px 14px rgba(1, 1, 1, 0.99);
  border-bottom: 1px solid black;
}

.off_white_background {
  background-color: #F8F8F8;
}

.section_divider {
  height: 30vh;
  width: 30%;
  margin: auto;
}

/* skills section */

#skills {
  /* background: url("../img/skills.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: .9; */
}

#project_section {
  /* background: url("../img/projects.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: .9; */
}

#contact {
  /* background: url("../img/contact.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: .9; */
}

#projects {
  background-color: #FAFAFA;
  width: 90vw;
  margin: auto;
}

.project_container {
  margin-top: 10px;
}

.project_name {
  text-align: center;
}

.project_info {
  flex: 1;
  justify-content: space-between;
  align-self: center;
}

.project_info_reverse {
  flex-direction: row-reverse;
}

.card-text {
  font-size: 12pt;
  font-family: 'Titillium Web', sans-serif;
}

.btn {
  font-size: 13pt;
  font-family: 'Titillium Web', sans-serif;
}

.card-title {
  font-family: 'Titillium Web', sans-serif;
  font-style: italic;
}

fa-linkedin-in {
  color: #0073B9;
}



/* large screens */
@media all and (min-width:1441px) {

}


/* small laptop screens */
@media all and (min-width:1025px) and (max-width: 1440px) {

}


/* tablet-small laptops */
@media all and (min-width:769px) and (max-width: 1024px) {
  #landing {
    background-size: cover;
  }
#landing h1{
  padding-top: 40%;
  box-sizing: content-box;
  font-size: 3.25em;
}

}


/* big screen phones-tablets */
@media all and (min-width:426px) and (max-width: 768px) {
  #landing {
    background-size: cover;
  }
  #landing h1, #landing h2{
    font-size: 2.25em;
  }

  #landing div {
    margin-top: 15%;
  }
}


/* mid-screen phones */
@media all and (min-width:376px) and (max-width: 425px) {
  #landing {
  background-size: 50%;
  }

  #landing h1, #landing h2{
    font-size: 2.45em;
  }

  #landing div h3 {
    font-size: 3vh;
    margin-top: 5%;
  }
  
}


/* small screen phones */
@media all and (min-width:0px) and (max-width: 375px) {
#landing {
  background-size: 50%;
}

  #landing h1, #landing h2{
    font-size: 2.25em;
  }

  #landing div h3 {
    font-size: 3vh;
    margin-top: 5%;
  }
} 