/* @media only screen and (min-width: 768px) { */

body {
  background: url("../img/subway_intro.jpeg") no-repeat;
  background-size: 95%;
  background-color: black;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.5);
}

/*  Profile picture, logo, & info) */

nav {
  height: 6vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.99);
  display: flex;
  position: fixed;
  border-bottom: .25px solid black;
}

nav div {
  background: url('../img/MAIN_LOGO_ copy.png') no-repeat;
  background-size: contain;
  height: 7.25vh;
  width: 7.25vw;
  margin: auto;
}

nav div:hover {
  animation: jump .75s infinite;
}

#landing {
  width: 100vw;
  height: 100vh;
  /* background: url("../img/subway_intro.jpeg") no-repeat;
  background-size: 90%;
  background-color: black;
  background-position: center;
	background-color: rgba(255, 255, 255, 0.5); */
}

.jump {
  -moz-animation: jump .65s infinite;
  -webkit-animation: jump .65s infinite;
  animation: jump .65s infinite;
}

.show {
  -moz-animation: show 1.25s infinite;
  -webkit-animation: show 1.25s infinite;
  animation: show 1.25s infinite;
  color: gold;
}

@keyframes jump {
  100% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(-9px);
  }
  20% {
    transform: translateY(-10px);
  }
}

@keyframes show {
  100% {
    opacity: 1;
  }
  80% {
    opacity: .8;
  }
  60% {
    opacity: .6;
  }
  40% {
    opacity: .3;
  }
}

#landing h1, h2 {
  color: white;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  text-shadow: 6px 4px 14px rgba(255, 255, 255, 0.41);
  font-size: 30pt;
}

#landing h1 {
  padding-top: 140px;
}

#landing_info {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

#landing_info h3 {
  font-family: 'Titillium Web', sans-serif;
  color: white;
  text-align: center;
  text-shadow: 6px 4px 14px rgba(255, 255, 255, 0.41);
  font-size: 4vh;
  /* justify-content: center; */
}

#arrow {
  margin: auto;
  padding-top: 5vh;
}

/* About Me section */

#pic_wrapper {
  height: 25vh;
  width: 25vw;
}

#profile_pic {
  border-radius: 50%;
  border: 1px solid;
  height: auto;
  width: 100%;
  box-shadow: 6px 4px 14px rgba(255, 255, 255, 0.91);
  margin-left: 35%;
}

footer {
  height: 3vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.99);
  text-align: center;
  position: fixed;
  bottom: 0;
	border-bottom: .25px solid black;

}

/*

#logo_header {
	background: url('../img/MAIN_LOGO_.png') no-repeat;
	background-size: contain;
	height: 20%;
	width: 20%;
	display: flex;
	margin: auto;
	margin-top: 50px;
	margin-left: 480px;
	opacity: .4;
}

h1, h2 {
	color: white;
	font-family: 'Raleway', sans-serif;
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
	margin-top: 20px;
	text-shadow:6px 4px 14px rgba(255, 255, 255, 0.81)
} */

/*
.logo {
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
}

#main_logo{
	background-image: url("../img/MAIN_LOGO_.png");
	width: 550px;
	height: 620px;
}

#white_outline{
	background-image: url("../img/LOGO_white_outline_.png");
	z-index: 2;
	width: 550px;
	height: 620px;
}

#loading_bar {
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
}
#loading_progress {
    width: 1%;
    height: 30px;
    background-color: green;
    text-align: center;
    color: white;
}

.container{
	margin-top: 10vh;
	height: 50vh;
	width: 30vw;
	box-shadow: -5px 4px 18px #323232;
	border: 7px outset rgba(59, 0, 0, 0.87);
	border-radius: 1.5%;
	background-image: url("../img/profile_pic.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	transition: .9s;
}

.container:hover {
	background-image: url("../img/MAIN_LOGO_.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: white;
	transition: .9s;
}

#gradient {
	background-color: rgba(14, 14, 14, 0.75);
	height: 200px;
	width: 100%;
	margin-top: 25px;
}
 footer {
	 height: 10%;
	 background-color: rgba(14, 14, 14, 0.8);
	 text-align: center;
	 position: relative;
	 bottom: 0;
 }

#main_content {
	width: 100%;
	height: 500px;
	background-color: rgb(1,24,30);
	margin-top: 30px;
	box-shadow: -5px 4px 18px #323232;
}
